/*GENERAL*/
*{
	margin: 0px;
	padding: 0px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
h1{
	font-size: 3.75rem;
	font-weight: bold;
	margin-block-start: 0.67em;
    margin-block-end: 0.17em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h2{
	font-size: 1.625rem;
}
h3{
	font-size: 1.17em;
	margin-block-start: 1em;
    margin-block-end: 0.68em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

section{
	background: #000000;
	border-bottom: 8px solid #222;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
}

section div.contenido{
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;

}

.restaurar{
			clear: both;
		}
/*GENERAL*/
/*FONDO*/

html, body, .fondo{
	height: 100%;

}

.fondo{
	background: url(../img/fondo.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;

}

/* FONDO */
/*CABECERA*/

section.cabecera{
	background: none;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}
nav{
	margin: 0 3.5rem;

}

div.logo{
	float: left;
	margin-top: -20px;

}
.ui-selectl  {
	background-color: #000000;
	width: 41%;
  	padding: 7px 10px;
  	height: 42px;
	margin: auto;
	color: rgb(255, 255, 255);
	border:2px solid rgb(255, 255, 255);
}
div.login{
	float: right;
	margin-top: -30px;
}

div.login:hover{
	cursor: pointer;
}

div.login span{
	padding: 7px 17px;
	background: #e50914;
	border-radius: 4px;
}

.presentacion{
	text-align: center;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: -100px;
	margin: auto;
}
.bloquep{
	margin-left: 150px;
}


.presentacion input{
	height: 70px;
    width: 500px;
	margin: auto;
    border-radius: 2px 0px 0px 2px;
    border: solid 1px #5695e9;
    padding-left: 11px;
	font-size: 15px;
    color: #1C1C1C;
}
.presentacion span{
	background: #e50914;
    padding: 7px 20px 19px 30px;
    font-weight: 600;
	font-size: 30px;
	margin: auto;
    border: solid #d30f18;
}



.presentacion span:hover, .contPreguntas span:hover{
	cursor: pointer;
	background: red;
}

@media only screen and (max-width:1024px){
	h1{
		font-size: 2.75rem;
		font-weight: bold;
		margin-block-start: 0.67em;
		margin-block-end: 0.17em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
	}
	h2 {
		font-size: 1.225rem;
	}
	h3 {
		font-size: 1.225rem;
	}
	.fondo{
		height: 100%;
	}
	div.logo{
		float: left;
		margin:-30px 5px -10px -40px;
		width:	100%;
		height: 10px;
	}
	div.login{
		float: right;
		margin-top: -30px;
		margin-left: 130px;	
	}
	div.login span{
		margin: auto;
		margin-top: 1000px;
		background: #e50914;
		border-radius: 4px;
		padding-left: 10px;
		padding-top: -15px;
		padding-right: 15px;
	}
	.presentacion{
		text-align: center;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: -100px;
		margin: auto;
	}
	.bloquep{
		margin-left: auto;
		height: 100%;
		width: 100%;
	}
	.presentacion input{
		height: 70px;
		width: 90%;
		margin: auto;
		border-radius: 2px 0px 0px 2px;
		border: solid 1px #5695e9;
		padding-left: 11px;
		font-size: 15px;
		color: #1C1C1C;
	}
	.presentacion span{
		background: #e50914;
		padding: 0px 5px 5px 10px;
		font-weight: 500;
		font-size: 25px;
		margin: auto;
		border: solid #d30f18;
	}
	div.derecha.flotanteTexto{
	    width: 92%;
	}

}


/*CABECERA*/
/*TV*/
.izquierda{
	float: left;
}
.derecha{
	float: right;
}
.flotanteTexto{
	width: 59%;
}
.flotanteImagen{
	width: 39%;
}

.contenido img{
	width: 100%;
	height: auto;
	border: 0;
	position: relative;
	z-index: 2;
}

.contenido h2{
	font-weight: bold;
	font-size: 50px;
}

.contenido p{
	font-size: 25px;
	font-weight: 200;
}

.tv video {
	position: absolute;
    transform: translate(-510px, 78px);
    width: 30%;
    z-index: 1;
}

.disfruta video {
	position: absolute;
    transform: translate(-479px, 39px);
    width: 24%;
    z-index: 1;
}

.tarjetaInt, .portada{
	display: flex;
	align-items: center;
}

.tarjetaInt {
    width: 70%;
    margin: auto;
    border: solid 2px #434343;
    padding: 10px;
    border-radius: 6px;
    position: relative;
    z-index: 2;
    background: #000000;
}

.tarjeta {
    position: relative;
    transform: translate(-65px, -41px);
}

@media only screen and (max-width:425px){
	.contenido h2 {
		font-weight: bold;
		font-size: 40px;
	}
	.fondo{
		width: 100%;
		height: 100%;
	}
	.cabecera{
		width: 100%;
	}
	div.logo{
		float: left;
		margin-left: -36px;
		width: 100%;
	
	}
	.logo img{
		width: 30%;
	}
	div.login{
		float: right;
		margin: auto;
		margin-left: 0px;
		margin-right: -166px;
		width: 87%;
		transform: translate(-113px, -32px);
	}
	div.login span {
		margin: auto;
		background: #e50914;
		border-radius: 4px;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 15px;
	}
	section div.contenido {
		width: 100%;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.contenido {

		font-weight: bold;
		font-size: 50px;
		flex-direction: column;
	}
	.flotanteTexto{
		width: 90%;
		height: 100%;
		margin: 5px 5px 5px 5px;
	}
	.derecha.flotanteImagen{
		width: 91%;
		margin: auto;
		transform: translate(0px, -12px);
	}
	.izquierda.flotanteImagen{
		width: 100%;
		margin: 0px 371px 0px 0px;
	}
	.tv .contenido img{
		width: 100%;
		height: auto;
		border: 0;
		position: relative;
		z-index: 2;
		transform: translate(10px, 28px);
	}
	.tv .contenido .flotanteTexto h2{
		width: 100%;
		margin-left: 10px;
	}
	.tv .contenido .flotanteTexto p{
		width: 100%;
	}
	.tv video {
		position: absolute;
		transform: translate(-303px, 73px);
		width: 77%;
		z-index: 1;	
	}
	.tarjetaInt, .portada{
		display: flex;
		align-items: center;
	}
	
	.tarjetaInt {
		width: 71%;
		margin: 106px 2px 2px 230px;
		border: solid 2px #434343;
		padding: 10px;
		border-radius: 6px;
		position: relative;
		z-index: 2;
		background: #000000;
	}
	.gif.derecha{
		margin: -24px 10px 10px -222px
	}
	.tarjeta {
		width: 79%;
		position: relative;
		transform: translate(16px, -41px);
	}
	.descarga .contenido .derecha.flotanteTexto h2{
		width: 100%;
		margin-left: 12px;
		font-size: 50px;
	}
	.descarga .contenido .derecha.flotanteTexto p{
		width: 94%;
		margin-left: 15px;
		font-size: 30px;
		margin-top: -10px;
	}
	.disfruta .contenido .izquierda.flotanteTexto h2{
		width: 100%;
		margin-left: 20px;
	}
	.disfruta .contenido .izquierda.flotanteTexto p{
		width: 95%;
		margin-left: 15px;
		margin-top: 50px;
	}
	.disfruta video{
		position: absolute;
		transform: translate(-275px, 30px);
		width: 56%;
		z-index: 1;
	}
	.niños .contenido img{
		width: 90%;
		margin-left: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.niños .contenido .derecha.flotanteTexto h2{
		width: 84%;
		margin-left: 20px;
	}
	.niños .contenido .derecha.flotanteTexto p{
		width: 98%;
		margin-left: 20px;
		margin-top: 60px;
	}
	.preguntas .contPreguntas h2{
		width: 35%;
		margin-left: 50px;
	}
	.contPreguntas h2{
		font-size: 3.225rem;
	}
	.preguntas .contPreguntas .pregunta{
		width: 81%;
		margin-left: 50px;
	}
	.preguntas .contPreguntas h3{
		width: 74%;
		margin-left: 50px;
	}
	.preguntas .contPreguntas input{
		width: 41%;
		margin-left: 10px;
	}
	.piepreguntas p{
		width: 100%;
		margin-left: -200px;
	}
	.descarga .contenido .tarjeta img {
		width: 100%;
		height: auto;
		border: 0;
		position: relative;
		z-index: 2;
		transform: translate(205px, 28px);
	}
	.descarga .contenido .tarjetaInt img {
		width: 100%;
		height: auto;
		border: 0;
		position: relative;
		z-index: 2;
		transform: translate(0px, 11px);
	}
	.descarga .contenido .tarjetaInt .gif.derecha img{
		width: 50%;
		height: auto;
		border: 0;
		position: relative;
		z-index: 2;
		transform: translate(200px, 25px);
	}


}

/*TV*/

/*PREGUNTAS*/
.preguntas h2{
	font-weight: bold;
	font-size: 50px;
	
}
.contPreguntas{
	width: 100%;
	margin: auto;
	text-align: center;	
}

.contPreguntas div{
	text-align: left;
	font-size: 30px;
}

.pregunta{
	background: #303030;
	margin-bottom: 10px;
	margin-right: 0px;
	margin-top: 5px;
	cursor: pointer;
}

.respuesta{
	background: #303030;
	margin-bottom: 5px;
	margin-top: 5px;
}

.pregunta p, .respuesta p{
	padding: 10px;
	padding-right: 50px;
	padding-left: 20px;

}

.respuesta hr{
	border: 1px solid #262626;
}

.pregunta:hover .respuesta{
	max-height: 1000px;
}

.respuesta{
	max-height: 0px;
	overflow: hidden;
	transition: all 1s;
}

.contPreguntas input{
	height: 60px;
    width: 465px;
    margin-top: 20px;
    margin-bottom: 3px;
    border-radius: 2px 0px 0px 2px;
    border: solid 1px #5695e9;
    padding-left: 11px;
    color: #1C1C1C;
}

.contPreguntas span{
	background: #e50914;
    padding: 16px;
    padding-bottom: 19px;
    font-weight: 500;
    margin-left: -5px;
    border: solid #d30f18;
}

.contPreguntas h3{
	font-size: 15px;
}

.piepreguntas{
	margin: auto;
}
.pieContenido{
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
}
.pieContenidoo p{
	margin: 10px 10px 10px 10px;
}
.ui-select {
	background-color: #000000;
	width: 7%;
	position: relative;
	display: inline-block;
  	padding: 7px 10px;
  	height: 42px;
	margin: auto;
	color: #999;
	border:2px solid rgba(255, 255, 255, 0.2);
	transform:  translate(382px, 0px);

}
.Netflixcol p{
    width: 44%;
    margin-top: 36px;
	margin-left: 382px;
    justify-content: left;
}

div.piepreguntas{
		width: 100%;
}

.piepreguntas p{
	width: 26%;
    text-align: left;
    transform: translate(386px, -18px);
    margin-top: 26px;
    margin-bottom: 10px;
}
.pieContenido .pieContenidoo {
	width: 14%;
    transform: translate(70px, 0px);
}
div.pieContenido{
		width: 100%;
}

.pie .espacio{
	width: 10px;
}

@media only screen and (max-width:425px){

.ui-select {
	width: 27%;
	transform: translate(147px, 0px);
}
.Netflixcol p{
    text-align: center;
    margin: auto;
    margin-top: 11px;
    margin-right: 0px;
    width: 95%;
}
.piepreguntas p {
    width: 55%;
    text-align: left;
    transform: translate(-1px, -0px);
    margin: auto;
    margin-top: 26px;
    margin-bottom: 10px;
    margin-left: 120px;
}
div.pieContenido{
	width: 130%;
}
.pieContenido {
    margin: -3px -15px -7px -130px;
	display: flex;
	justify-content: center;
}
.pie .espacio{
	width: 20px;
}
}